# Ignore node_modules in all directories
**/node_modules

# Ignore build output in all directories
**/build
**/dist

# Ignore .env files
**/.env

# Ignore log files
**/*.log

# Ignore iOS build artifacts
**/Pods
**/Podfile.lock
**/*.xcworkspace

# Ignore Android build artifacts
**/build/
**/local.properties
**/.gradle/

# Ignore frontend build artifacts
frontend/build

# Ignore mobile build artifacts
mobile/build

# Ignore backend build artifacts
backend/build
